# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Django
db.sqlite3
db.sqlite3-journal
backend/staticfiles/
backend/sample_data/utility_bill_2025_04.pdf

# Node
node_modules/
frontend/dist/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# Env
.env
.env.local
